<div class="container">
  <div class="wrap">
    <h5 class="text-center mb-4">Login Now</h5>
    <div class="login p-5 bg-dark mx-auto mw-100">
      <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
        <div class="form-group">
          <label class="mb-2">Email address</label>
          <input type="email" ngModel name="email" class="form-control" aria-describedby="emailHelp" placeholder=""
            required="">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label class="mb-2">Password</label>
          <input type="password" ngModel name="password" class="form-control" id="exampleInputPassword1" placeholder=""
            required="">
        </div>
        <button type="submit" class="btn btn-primary submit mb-4">Sign In</button>
        <a [routerLink]="['/register']" class="btn btn-secondary submit mb-4 mx-5">New To StockInfo??</a>

      </form>

    </div>
    <!---->
  </div>

</div>
