<div class="about-section">
  <h1>About Us</h1>
  <p>We are a group of investors who are enthusiastic</p>
  <p>the stock market and actively work to </p>
  <p>inform the public about the conditions the </p>
  <p>Nepali stock market faces.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="../../assets/images/boy2.png" alt="Ravi" style="width:100px">
      <div class="container">
        <h2>RAVI ARYAL</h2>
        <p class="title">Contributor</p>
        <p>Student, Nepal Engineering College</p>
        <p>Address: Old Baneshwor, Kathmandu</p>
        <p>Email: ravia019363@nec.edu.np</p>

      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../assets/images/boy2.png" alt="Santosh" style="width:131px">
      <div class="container">
        <h2>SANTOSH PARAJULI</h2>
        <p class="title">Contributor</p>
        <p>Student, Nepal Engineering College</p>
        <p>Address: Tinkune, Kathmandu</p>
        <p>Email: santoshp019385@nec.edu.np</p>

      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../assets/images/boy3.jpg" alt="Sandeep" style="width:120px">
      <div class="container">
        <h2>SANDEEP HARIJAN</h2>
        <p class="title">Contributor</p>
        <p>Student, Nepal Engineering College</p>
        <p>Address: Pepsicola, Kathmandu</p>
        <p>Email: sandeeph019372@nec.edu.np</p>

      </div>
    </div>
  </div>
</div>
