<div class="container mt-5">

  <div class="row">
    <div class="col-sm-3">
      <img src="../../assets/stock.jpg" alt="" srcset="">
    </div>

    <div class="col-sm-9">

      <h1> Company Name </h1>
      <h2>Category</h2>

      <div class="detailContainer">

        <div class="detail">
          <div class="label">EPS</div>
          <div class="value">123</div>
        </div>

        <div class="detail">
          <div class="label">P.E Ration</div>
          <div class="value">123</div>
        </div>

        <div class="detail">
          <div class="label">Paid-Up Capital</div>
          <div class="value">123</div>
        </div>

        <div class="detail">
          <div class="label">Book Value</div>
          <div class="value">123</div>
        </div>

        <div class="detail">
          <div class="label">Market Cap</div>
          <div class="value">123</div>
        </div>

      </div>

    </div>

  </div>

</div>
