<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
  <div class="container">
    <div class="inner-sec-shop pt-lg-4 pt-3">
      <div class="row">
        <div class="col-lg-4 single-right-left ">
          <div class="grid images_3_of_2">
            <div class="flexslider1">
              <ul class="slides">
                <li data-thumb="../../assets/images/upperhewakhola.jpg">
                  <div class="thumb-image"> <img [src]="this.shareDetails.imgUrl" data-imagezoom="true"
                      class="img-fluid" alt=" ">
                  </div>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 single-right-left simpleCart_shelfItem">
          <h3>{{this.shareDetails.company}}</h3>
          <p><span class="item_price">{{this.shareDetails.category}}</span>
          </p>
          <div class="description">
            <h5>{{this.shareDetails.description}}</h5>
          </div>
          <div class="row">
            <div class="col-sm-6 col-12">
              <div class="color-quality-right">
                <h5>EPS : <span>{{this.shareDetails.eps}}</span></h5>
              </div>
              <div class="color-quality-right">
                <h5>P.E. Ratio : <span>{{this.shareDetails.peRatio}}</span></h5>
              </div>
              <div class="color-quality-right">
                <h5>Paid-Up Capital : <span>{{this.shareDetails.paidUpCapital}}</span></h5>
              </div>
            </div>
            <div class="col-sm-6 col-12">
              <div class="color-quality-right">
                <h5>Book Value : <span>{{this.shareDetails.bookValue}}</span></h5>
              </div>
              <div class="color-quality-right">
                <h5>Market Capitalization : <span>{{this.shareDetails.marketCap}}</span></h5>
              </div>
              <div class="color-quality-right">
                <h5>Dividend History : <span></span></h5>
              <h5>&emsp;Year : <span>{{this.shareDetails.dividenHistory[0].year}}</span></h5>
                <h5>&emsp;Cash : <span>{{this.shareDetails.dividenHistory[0].cash}}</span></h5>
                <h5>&emsp;Bonus : <span>{{this.shareDetails.dividenHistory[0].bonus}}</span></h5>
                <h5>&emsp;Total : <span>{{this.shareDetails.dividenHistory[0].total}}</span></h5>
              </div>
            </div>
          </div>

          <div class="occasion-cart">
            <div class="googles single-item singlepage">
              <form action="#" method="post">
                <button type="submit" class="googles-cart pgoogles-cart">
                  Add to Watchlist
                </button>

              </form>

            </div>
          </div>

        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>

  <app-cards-detail-container filterOption="{{this.shareDetails.category}}"></app-cards-detail-container>

</section>
